.app {
  text-align: center;
  width: 200px;
  padding: 40px;
  border-radius: 20px;
  background: #eaa634;
  color: white;

  /* code di bawah ini akan membuat div berada di tengah-tengah */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__title {
  font-family: "Coolvetica";
  /* text-decoration: underline; */
}

.app__button {
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  font-family: "Coolvetica";
  border-radius: 7px;
  border-color: whitesmoke;
  padding: 5px 10px 5px 10px;
  background: #eaa635;
  color: white;
}

hr {
  width: 30%;
}

.app__content {
  margin-top: 15px;
  font-family: "Coolvetica";
  font-weight: lighter;
}
